<div *ngIf="this.user != undefined">
<p>Your username: {{this.user.username}}</p>
<br>
<p>Your name: {{this.user.firstName}}</p>
<br>
<p>Your last name: {{this.user.lastName}}</p>
<br>
<p>Your email: {{this.user.email}}</p>
<br>
<p>Last time you logged in: {{this.user.lastLogin}}</p>
<br>
</div>
<div>
    <br>
    <p>Change your password</p>
    <br>
    <input id=oldPassword [(ngModel)]="oldPassword" placeholder="type current password" required type="password">
    <br>
    <br>
    <input id=newPassword [(ngModel)]="newPassword" placeholder="type new password" required type="password">
    <br>
    <br>
    <input id=newPasswordRepeat [(ngModel)]="repeatNewPassword"  placeholder="repeat new password" required type="password">
    <br>
    <button color="primary" mat-raised-button (click)="change()">Change</button>
</div>
