<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Friendster</a>
    <a *ngIf="this.authService.tokenIsPresent()" class="navbar-brand" href="/edit">Edit profile</a>
    <a class="navbar-brand" href="/posts">Posts</a>
    <a *ngIf="this.authService.tokenIsPresent()" class="navbar-brand" href="/groups">Groups</a>
    <a *ngIf="!this.authService.tokenIsPresent()" class="navbar-brand" href="/login">Login</a>
    <button *ngIf="this.authService.tokenIsPresent()" class="navbar-brand" (click)="logout()">Logout</button>
    </nav>
<router-outlet></router-outlet>
